{% extends "base.html" %}
{% block title %}
Thermos -- Welcome
{% endblock %}

{% block content %}
<section>
    <h1>Add a new URL</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>Please enter your bookmark here:</td>
                <td>{{ form.description(size = 50) }}</td>
            </tr>
            <tr>
                <td>Add a optional description:</td>
                <td>{{ form.description(size = 50) }}</td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
        <!--<p>-->
            <!--Please enter your bookmark here:-->
            <!--<input type="text" name="url">-->
        <!--</p>-->
        <!--<p>-->
            <!--<button type="submit">Submit</button>-->
        <!--</p>-->
    </form>
</section>

{% endblock %}

{% block sidebar %}
{% endblock %}
